/* styles go here */

.label {
  display: block;
}

.label + .label {
  margin-top: 10px;
}

.fieldset + .fieldset {
  margin-top: 20px;
}

.submitButton {
  margin-top: 1rem;
}

.inline-block {
  display: inline-block;
}
